body{
  background-color: var(--white);
  color: var(--black);
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#root nav{
  justify-content: center;
  border-bottom: solid 3px var(--darkgray);
}

a{
  color: var(--darkred);
  text-decoration: none;
}

nav a{
  padding: 0.5rem 1rem;
}

a.active{
  color: var(--white);
  background-color: var(--darkred);
  font-weight: bold;
  border-radius: 5px;
}

button{
  background-color: var(--red);
  color: var(--white);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

input, textarea, select {
  background-color: var(--white);
  border: solid 1px var(--red);
  border-radius: 5px;
  padding: 0.5rem;
  color: var(--black);
}

.input-container>div{
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}

.ingredient-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.button-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}